/* Importa fontes do Google Fonts: Poppins e Roboto */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Define variáveis de cores e fontes para uso em todo o CSS */
:root {
    --cor-primaria: #0A1F44; /* Cor principal */
    --cor-secundaria: #ffffff; /* Cor de fundo */
    --cor-terciaria: #ffc933; /* Cor terciária */
    --cor-hover: #1C3D71; /* Cor de hover */
    --fonte-primaria: 'Poppins', sans-serif; /* Fonte primária */
    --fonte-secundaria: 'Roboto', sans-serif; /* Fonte secundária */
}

/* Estilo do contêiner do menu */
.menu-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    align-items: stretch; /* Força todos os itens a ter a mesma altura */
}

/* Estilo para cada item do menu */
.menu-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 20%;
    min-height: 500px; /* Define uma altura mínima consistente */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

/* Estilo da imagem no item do menu */
.menu-img {
    width: 100%; /* Ocupa toda a largura disponível */
    height: 200px; /* Define uma altura fixa */
    object-fit: cover; /* Mantém a proporção da imagem */
    border-bottom: 1px solid #ddd;
}

/* Estilo do título do item do menu */
.menu-titulo {
    font-size: 1.2em;
    color: var(--cor-primaria);
    margin-top: 15px;
    font-family: var(--fonte-secundaria);
}

/* Estilo do texto descritivo do item do menu */
.menu-texto {
    flex-grow: 1; /* Faz com que o texto cresça para ocupar o espaço disponível */
    color: var(--cor-hover);
    margin: 10px 0;
    font-family: var(--fonte-secundaria);
    text-align: center;
    
}

/* Estilo para o preço do item do menu */
.preco {
    color: #e74c3c;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 10px;
    border: 2px solid var(--cor-primaria);
    border-radius: 1%;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    padding: 5px 0; /* Garantir espaço interno no preço */
   
}

/* Efeito de hover para o preço */
.preco:hover {
    border-color: var(--cor-terciaria); /* Muda a cor da borda ao passar o mouse */
    box-shadow: inset 0 0 5px var(--cor-terciaria); /* Sombra interna ao passar o mouse */
}

.menu-img:hover{
    transform: scale(1.1);
    transition: 1s;
}

/* Consultas de mídia para responsividade em telas pequenas */
